:root {
  --warning: orange;
  --text: black;
  --primary: #87afeb;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.card-profile {
  padding: 20px;
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f9;
  display: flex;
  justify-content: center;
  width: 820px;
  height: 320px;
  border-top-left-radius: 60px;
  overflow: hidden;
  display: flex;
  gap: 4px;
  padding: 4px;
}
.photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo img {
  width: 250px;
  height: 320px;
  object-fit: cover;
}
.content {
  border: 1px solid #000;
  padding: 10px 10px 0 10px;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  padding: 10px;
}
.desc {
  font-family: "Arial", Times, serif;
  font-style: italic;
}
.container-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.name {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
  color: var(--orange);
}
.email {
  color: var(--warning);
  text-decoration: none;
}
.email:active {
  color: red;
}

header {
  color: #fff;
  background-color: var(--primary);
  border-bottom: 1px solid #000;
}
footer {
  border-top: 1px solid #000;
  padding: 20px;
  text-align: center;
  color: #000;
  background-color: var(--primary);
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  text-align: center;
}
.nav-title {
  font-size: 24px;
  font-weight: bold;
  border-right: 1px solid #fff;
}
.nav-title span {
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
}
.nav-greeting {
  font-size: 18px;
}
.nav-search {
  border-left: 1px solid #fff;
}
.nav-search input {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}
.nav-search button {
  padding: 8px 12px;
  color: var(--primary);
  border: none;
  cursor: pointer;
  font-size: 14px;
}
section {
  padding: 30px;
}
.student-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
}
.student-grid li {
  background-color: #f7f7f9;
  padding: 10px;
  text-align: center;
  box-shadow: 1.5px 1.5px 0 0 rgba(0, 0, 0, 0.3);
  /* animation */
  transform-origin: center center;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}
.student-grid li:hover {
  background-color: #99c5dd;
  transform: scale(1.05) rotate(5deg);
}
.student-grid img {
  height: 150px;
  margin-bottom: 10px;
}
.student-grid p {
  font-size: 16px;
  color: var(--primary);
}
