:root {
  --text: black;
  --primary: #87afeb;
  --orange: orange;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.card-profile {
  margin: auto;
  padding: 20px;
  color: var(--text);
  background: #f7f7f9;
  display: flex;
  justify-content: center;
  max-width: 820px;
  border-top-left-radius: 60px;
  overflow: hidden;
  gap: 4px;
}
.photo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo img {
  content: url("../cedula/25523204Grande.jpg");
  width: 250px;
  height: 320px;
  object-fit: cover;
}
.content {
  border: 1px solid #000;
  padding: 10px 10px 0 10px;
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  padding: 10px;
  font-size: 0.95rem;
}
.desc {
  font-family: "Arial", Times, serif;
  font-style: italic;
  font-size: 1rem;
}
.container-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.name {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--orange);
}
.email {
  margin-left: 4px;
  color: var(--orange);
  text-decoration: none;
}
.email:active {
  color: red;
}
.name,
.email {
  font-size: 1rem;
}

header {
  color: #fff;
  background-color: var(--primary);
  border-bottom: 1px solid #000;
}
footer {
  border-top: 1px solid #000;
  padding: 20px;
  text-align: center;
  color: #000;
  background-color: var(--primary);
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  text-align: center;
  font-size: 1.5rem;
}
.nav-title {
  font-weight: bold;
  border-right: 1px solid #fff;
}
.nav-title span {
  margin-top: 10px;
}
.nav-greeting {
  font-size: 1.25rem;
}
.nav-search {
  border-left: 1px solid #fff;
}
.nav-search input {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
.nav-search button {
  padding: 8px 12px;
  color: var(--primary);
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
section {
  padding: 30px;
}
.student-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
}
.student-grid li {
  background-color: #f7f7f9;
  padding: 10px;
  box-shadow: 1.5px 1.5px 0 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* animation */
  transform-origin: center center;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}
.student-grid li:hover {
  background-color: #99c5dd;
  transform: scale(1.05) rotate(5deg);
}
.student-grid img {
  height: 150px;
}
.student-grid p {
  font-size: 1.2rem;
  color: var(--primary);
}
#my-photo {
  content: url("../cedula/25523204Grande.jpg");
}

/* 320px — 480px: Dispositivos móviles */
@media (min-width: 320px) and (max-width: 480px) {
  /* perfil */
  .card-profile {
    flex-direction: column;
  }
  @media (max-width: 768px) {
    .photo img {
      content: url("../cedula/25523204Pequena.jpg");
    }
  }
  .desc {
    font-size: 0.8rem;
  }
  .content {
    font-size: 0.75rem;
  }
  .container-list {
    padding: 4px;
  }
  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px;
    border-bottom: 1px solid #c4c4c4;
  }
  /* index */
  nav ul {
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center;
    padding: 10px 0;
  }
  nav li {
    padding: 10px 0;
    width: 90%;
  }
  .nav-title {
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .nav-search {
    border-left: none;
    border-top: 1px solid #fff;
    padding-top: 10px;
  }
  .student-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  #my-photo {
    content: url("../cedula/25523204Pequena.jpg");
  }
}

/* 481px — 768px: iPads, tablets */
@media (min-width: 481px) and (max-width: 768px) {
  /* perfil */
  .card-profile {
    flex-direction: column;
  }
  .photo img {
    content: url("../cedula/25523204Pequena.jpg");
  }
  .content {
    padding: 5px;
  }
  /* index */
  nav ul {
    flex-direction: column;
  }
  nav li {
    padding: 15px 20px;
  }
  .nav-title {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .nav-search {
    border-left: none;
    border-top: 1px solid #fff;
  }
  .student-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  #my-photo {
    content: url("../cedula/25523204Pequena.jpg");
  }
}

/* 769px — 1024px: pantallas pequeñas, ordenadores portátiles */
@media (min-width: 769px) and (max-width: 1024px) {
  /* index */
  nav li {
    padding: 15px 10px;
  }
  .student-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 1025px — 1200px: pantallas grandes, ordenadores de escritorio */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* perfil */
}
